*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* UTILITY CLASS */
.display-flex{
    display: flex;
}
.align-items{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}
.text-align-center{
    text-align: center;
}

.align-items{
    align-items: center;
}

.padding-150px{
    padding: 150px 0;
}

.display-none{
    display: none;
}

.margin-10px{
    margin-bottom: 10px;
}

.between{
    justify-content: space-between;
}

/* FINISH UTILITY CLASS */

.wrapper{
    width: 100vw;
    height: calc(100vh - 100px);
}

footer{
    height: 100px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

aside{
    width: 50px;
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
}

.main{
    width: 100%;
    height: 100%;
    background-color:white; 
    overflow-y: auto;
}
.row{
    height: 100%;
}
header{
    background-color: rgb(3, 3, 47);
    width: calc(100vw - 50px);
    height: 100px;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    display: flex;
    position: relative;
}

.ul-main{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}
li{
    margin: 0 10px;
}

.section-menu p{
    display: none;
}

.col-50{
    width: 45%;
    margin: 2%;

}

img{
    max-width: 100%;
}

.col-30{
    width: 30%;
    text-align: center;    
}

.col-40{
    width: 40%;
    
}

.subcol-30{
    display: flex;
    align-items: center;
}

.ul-playlist{
    display: none;
    list-style-type: none;
    text-align: left;
}

.crea{
    display: none;
   
}

.left-section, .central-section, .right-section{
    height: 100%;

}

.left-section, .right-section{
    width: 30%;
}

.central-section{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-section{
    display: flex;
    justify-content: space-around;
    text-align: initial;
    align-items: center;
}

.currently-playing{
    display: flex;
    justify-content: space-around;
    align-items: 100%;
}

.currently-image{
    display: none;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-song{
        display: flex;
        flex-direction: column;
        align-items: initial;
   
}

.time-min, .time-max{
    font-size: 10px;
}

.player-barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.player-buttons ul{
    display: flex;
    list-style: none;
    
}

.progress-bar{
    width: 80%;
    height: 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: lightgray;
}

.played-time{
    width: 20%;
    height: 100%;
    position: relative;
    background-color: white;
}

.progress-bar:hover .progress-bar-cursor{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-50%);
}

.progress-bar:hover .played-time{
    background-color: greenyellow;
}

nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 80%;
}

.nav-top{
    background-color: black;
    height: 400px;
    overflow-y: hidden;
}

.nav-bottom{
    background-color: black;
    height: 100px;
}

.playlists ul{
    list-style: none;
    padding-left: 15px;
    height: 70%;
    overflow-y: auto;
}
.playlists{
    overflow-y: hidden;
    height: 100%;
    display: none;
}

.logo-spotify-mobile{
    width: 100%;

}

.logo-mobile{
    width: 100%;
    height: 10%;
}

.logo-desktop{
    display: none;
}

button{
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 25px;
    right: 10px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}



@media screen and (min-width: 768px){
    aside{
        width: 200px
    }
    .ul-playlist{
        display: block;
    }
    .crea{
        display: block;
        display: flex;
       
    }

    header{
        width: calc(100vw - 170px);
    }

    .section-menu{
       text-align: initial;
    }

    .section-menu p{
        display: block;
    }

    .col-50{
        width: 20%;
    }
    
    .logo-spotify-mobile{
        display: none;
    }

    .logo-desktop{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .logo-mobile{
        
        width: 50%;
        display: flex;
        align-items: center;
        padding: 5px 0;
    }

    .playlists{
        display: block;
        color: white;
    }

    span{
        color: white;
    }
}